

.show-more {
  text-align: right;
  margin-bottom: 2rem;
}

.show-more-button {
  background-color: #004080;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.show-more-button:hover {
  background-color: #0066cc;
}

.vid-gallery-container {
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
}

.vid-gallery-grid {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.gallery-item.video {
  width: 100%;
  max-width: 800px;
}

